<%- include(__head_include) %>
</head>

<body>
    <div class="w3-container w3-teal">
        <h1>404</h1>
    </div>
    
    <div class="w3-container">
        <p>Page Not Found!</p>
    </div>
    

<%- include(__end_include) %>